@{
    Layout = null;
 }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WFELIX IT SOLUTIONS - Agenda Web</title>

    <!-- folhas de estilo CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css" />

</head>
<body>
    
    <!-- menu -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">WFA Agenda Web</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Home/Index">
                            Página inicial
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gerenciar Agenda
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Agenda/Cadastro">Cadastrar Evento</a></li>
                            <li><a class="dropdown-item" href="/Agenda/Consulta">Consultar Evento</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/Agenda/Relatorio">Relatório de Eventos</a></li>
                        </ul>
                        
                        
                    </li>

                   

                    
                </ul>
                       
                   @* <form class="d-flex">

                    <div class = "row mb-3">
                        <div class="col-md-12">
                            <input class="form-control me-2" type="search" placeholder="Insira sua busca" aria-label="Search">
                            <button class="btn btn-primary" type="submit">Pesquisar</button>
                        </div>
                    </div>
                    
                        <span class="text-danger">
                            @Html.ValidationMessageFor(model => model)
                        </span>
                    
                        <input class="form-control me-2" type="search" placeholder="Insira sua busca" aria-label="Search">
                        <button class="btn btn-primary" type="submit">Pesquisar</button>
                      
                    </form>*@
                   
                
            </div>
                    <div class = "row mb-3">
                        <div class="col-md-12">
                            <input class="form-control me-2" type="search" placeholder="Insira sua busca" aria-label="Search">
                            
                        </div>
                       
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">

                            <button class="btn btn-primary" type="submit">Pesquisar</button>
                        </div>
                    </div>
        </div>
    </nav>
    <!-- Exibir mensagem de sucesso --> 
    @if (TempData["MensagemSucesso"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Sucesso!</strong> @TempData["MensagemSucesso"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            @*<div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Sucesso!</strong> @TempData["MensagemSucesso"]
                <button type="button" class="Close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>*@
        }
    else if (TempData["MensagemAlerta"] != null)
        {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Aviso!</strong> @TempData["MensagemAlerta"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

       @* <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Atenção!</strong> @TempData["MensagemAlerta"]
            <button type="button" class="Close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>*@
        }
    else if(TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Erro!</strong> @TempData["MensagemErro"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        @*<div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Erro!</strong> @TempData["MensagemErro"]
            <button type="button" class="Close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>*@
    }

    <div class="container mt-4 me-lg-auto">
        <!-- local onde é inserido o conteudo das páginas -->
        <div class="card">
            <div class="card-body">
                 @RenderBody()
            </div>
        </div>       
    </div>

    <!-- arquivos de estensão JS -->
    <script src="~/js/bootstrap.js"></script>

</body>
</html>
